// Place all the styles related to the Prayers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prayers {
  p, h1 {
    font-family: "Comic Sans MS";
  }
  
  h1 {
    font-size: 36pt;
  }

  .card {
    border: 1px solid grey;
    border-radius: 20px 8px;
    width: 500px;
    background-color: #d9e9d9;
  }

  .title {
	border-bottom: 1px solid black;
	font-size: 18pt;
  }
  
  .request {
    background-color: #ffffd9;
  }
}
