// Place all the styles related to the Prayers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prayers {
  p, h1 {
    font-family: "Comic Sans MS";
  }
  
  h1 {
    font-size: 36pt;
  }

  .card {
    border: 1px solid grey;
    border-radius: 20px;
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffffe0;
  }

  .title {
	border-bottom: 1px solid black;
	margin-bottom: 0px;
	font-size: 18pt;
	padding: 5px;
  }
  
  .request {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff0d0;
    padding: 10px;
  }

  .by {
    border-top: 1px dashed grey;
    margin-top: 0px;
    text-align: right;
  }

  .controls {
    font-size: 8pt;
    text-align: right;
  }
}
